@model IEnumerable<SportsECommerce.Models.Produto>

@{
    ViewData["Title"] = "Catálogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Catálogo de Produtos</h1>

<p>
    <a class="btn btn-primary p-1" asp-action="Create">Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamanhos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamanhos)
            </td>
            <td align="right">
                <a asp-action="Details" class="btn btn-success p-1 text-black" asp-route-id="@item.ProdutoID">Detalhes</a>
                <a asp-action="Edit" class="btn btn-warning p-1 text-black" asp-route-id="@item.ProdutoID">Editar</a>
                <a asp-action="Delete" class="btn btn-danger p-1 text-black" asp-route-id="@item.ProdutoID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
