@model IEnumerable<SportsECommerce.Models.Tamanho>

@{
    ViewData["Title"] = "Tamanhos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tamanhos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td align="right">
                 <a asp-action="Details" class="btn btn-success p-1 text-black" asp-route-id="@item.TamanhoID">Detalhes</a>
                 <a asp-action="Edit" class="btn btn-warning p-1 text-black" asp-route-id="@item.TamanhoID">Editar</a>
                 <a asp-action="Delete" class="btn btn-danger p-1 text-black" asp-route-id="@item.TamanhoID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
